<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_cart_product_add_after">
		<observer instance="IW3\MudarPrecoProduto\Observer\Frontend\Checkout\CartProductAddAfter" name="iw3_mudarprecoproduto_observer_frontend_checkout_cartproductaddafter_checkout_cart_product_add_after"/>
	</event>
</config>
